<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>mitoanimal</title>
<link rel="stylesheet" href="MA.css">
</head>
<body>
<header>
   <img src="AM1.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="veterinaria-1.html">Inicio</a></li>
        <li><a href="Ballenas.html">animales normales</a></li>
        <li><a href="preistoricos.html">animales preistoricos</a></li>
    </ul>
</nav>
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Este es un artículo sobre los animales mittologicos del mar  </h2>
            <br>
            <p>En esta página se verán animales mitológicos las cuales vienen de historias o que se consideran leyenda.
           </p>
       </article>
        <article>
           <h2>Este es un artículo sobre las leyendas del mar  </h2>
            <br>
            <p>
                leviatan: No no hablamos sobre el leviatan que hablamos en la pagina anteriorsi. Leviatán es una bestia marina gigante narrada en la Biblia. Su creación por Dios se encuentra en el Génesis y Job describe su aspecto físico con semejanzas a un dragón. De su boca salen hachones de fuego; centellas de fuego proceden. De sus narices sale humo, como de una olla o caldero que hierve.
                <br>
                <br>
                kelpies:Kelpie, o kelpie de agua, es el nombre escocés otorgado a un espíritu del agua capaz de cambiar de forma, el cual habita en los lagos y estanques de Escocia. En sus apariciones usualmente se describía con la forma de un caballo, pero es capaz de adoptar una figura humana de igual manera.
                <br>
                <br>
                kraken: El kraken es una enorme y colosal criatura marina de la mitología nórdica descrita comúnmente como un tipo de pulpo, calamar gigante o medusa que, emergiendo de las profundidades, ataca barcos y devora a los marineros.
                <br>
                <br>
                Makara: Esta criatura marina pertenece a la mitología hindú. El monstruo es normalmente representado con un cuerpo mitad animal acuático y mitad animal terrestre. Así pues, se suelen mezclar figuras de elefante, ciervo o cocodrilo con la parte posterior de foca o pez. No tiene una sola forma, sino que se representa de maneras muy diversas por toda Asia.
                <br>
                <br>
                Escila y Caribdis: A menudo los peligros vienen por pares. Este es el temible caso de Escila y Caribdis. Se trata de dos monstruos marinos presentes en la mitología griega que custodian un angosto canal de agua. Cada bestia está ubicada en una de las orillas, de tal modo que las embarcaciones que intentan pasar, si se quieren alejar de Escila, se acercan a Caribdis y viceversa.
                <br>
                <br>
                Jörmundgander:Este monstruo es la Serpiente de Midgard (el mundo de los hombres) dentro de la mitología nórdica. Es una colosal serpiente venenosa marina hijo del dios Loki. Fue lanzada por Odín al mar que circunda Midgard, donde permanecerá sin escapatoria hasta el Ragnarök. Son famosos sus encuentros con el dios Thor. En el Ragnarök conseguirá reptar fuera del mar y envenenar los cielos. A continuación, tendrá su enfrentamiento final con Thor. El dios vencerá a la serpiente, pero ésta lo envenenará, así que Thor también morirá tras ganar el combate.

            </p>
        
        </article>
</section>  
</section> 
<aside>

</aside>
  
</body>
</html>