<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>animales preistoricos</title>
<link rel="stylesheet" href="PRE.css">
</head>
<body>
<header>
   <img src="AP.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="veterinaria-1.html">Inicio</a></li>
        <li><a href="Ballenas.html">animales normales</a></li>
        <li><a href="mitoanimal.html">mitoanimal</a></li>
    </ul>
</nav>
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Este es un artículo sobre los animales marinos prehistóricos  </h2>
            <br>
            <p>Los animales prehistóricos son realmente interesantes, vivieron hace mas de 100 millones de años y también son de los mas fuertes.
                <img src="imagenes/tec5.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2>Este es un artículo sobre los animales  </h2>
            <br>
            <p>megalodon: El megalodón o megalodonte es una especie extinta de tiburón que vivió entre hace 19,8 y 2,6 millones de años, aproximadamente, durante el Cenozoico.​ Anteriormente se pensaba que era miembro de la familia Lamnidae y pariente cercano del gran tiburón blanco.
            <br>
            <br>
            Plesiosaurios: Los plesiosaurios son un orden extinto de saurópsidos sauropterigios que aparecieron a principios del período Jurásico ​ y perduraron hasta la extinción K-T al final del Cretácico, habitando en todos los mares. Con frecuencia se los identifica erróneamente como "dinosaurios marinos".
            <br>
            <br>
            mosasaurus: Mosasaurus es un género extinto de saurópsidos mosasáuridos que vivió durante el Maastrichtiense en el período Cretácico, hace entre 70-66 millones de años en el área de las actuales Europa Occidental, Norteamérica, Sudamérica y Antártida.
            <br>
            <br>
            leviatan: Livyatan melvillei es una especie extinta de cetáceo odontoceto, perteneciente a la superfamilia Physeteroidea, conocido por diferentes fósiles hallados en las costa del océano Pacífico, en lo que ahora es Perú y Chile. Livyatan junto a Cetotherium.    
            </p>
        
        </article>
</section>  
</section> 
<aside>

      
</aside>
</body>
</html>